<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class='container'>
    <h1 class='text-capitalize'><i class="fa fa-globe"></i> <%= title.toLowerCase() %></h1>
    <h2>Keywords:</h2>
    <form action='/' method='POST'>
      <input type='text'/>
      <input type='hidden' value='<%= tags %>'/>
	<button class='btn btn-secondary'>Search</button>
    </form><br/>
    <ul class='list-inline'>
      <% for(var t=0; t < tags.length; t++){  %>
        <li><button class='btn btn-primary' style="padding:5px;"><%= tags[t] %> +1</button></li>
        <%  } %>
      </ul>
    <table class='table'><tr>
    <% if(columns) {
      for(var i=0; i < columns.length; i++) { %>
    <th><%= columns[i] %></th>
    <% }
    } %></tr>

    <% for(var j=0; j < data.length; j++ ) {
      for(var l=0; l < columns.length; l++) {%>
      <td><%= data[j][l] %></td>
    <% } %></tr>
    <% } %>
</table>


  </div>
  </body>
</html>
